@font-face {
  font-family: 'Electrolize';
  font-display: block;
  src: local('Electrolize'),
    url('/fonts/Electrolize-Regular.woff2') format('woff2'),
    url('/fonts/Electrolize-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-display: block;
  src: local('Inter'), url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.woff') format('woff');
}
